ANTHROPIC_API_KEY="YOUR-API-KEY-HERE"
GEMINI_API_KEY="YOUR-API-KEY-HERE"
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="YOUR-API-KEY-HERE"
LANGSMITH_PROJECT="blog-writing-agent"